<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <img src="../img/temperaturemonitor.png" alt="">
                    <h2>Monitor de Temperatura</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="fas fa-temperature-low"></i> 
                            <a href="temperatura.html">Temperatura</a>
                        </li>
                        <li>
                            <i class="fas fa-tint-slash"></i></i>
                            <a href="umidade.html">Umidade</a>
                        </li>
                        <li>
                            <i class="fas fa-microchip"></i>
                            <a href="controle.html">Controle</a>
                        </li>
                    </ul>
                </div>
            </sidebar>
            <main>
                <header>
                    <a href="dashboard.html"> <i class="fas fa-home"></i> Dashboard</a>
                    <a href="../index.html"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                </header>
                <div class="maincontent">
                    <p>Temperatura</p>
                </div>
            </main>
        </div>
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
        <script type="text/javascript" src="/js/paho_mqtt/paho-mqtt-min.js"></script>
        <script type="text/javascript" src="/js/paho_mqtt/paho-mqtt.js"></script>
        <script type="text/javascript" src="/js/paho_mqtt/sub-paho.js"></script>
    </body>
</html>